{{template "base" .}}

{{define "content"}}
  <body>
    <div class="container">
        <div class="row">
            <h1>This is Home Page!</h1>
            <p>Some text</p>
        </div>
    </div>
  </body>
{{end}}